/*Body*/
body{
    background: #31a;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 10px dashed #000;
}
/*Style game*/
.header{
    width: 100%;
    height: 20vh;
    display: flex;
    margin-top: 20px;
    background: #25e;
    border-radius: 50%;
}
.header__h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 5vw;
    margin: auto;
    color: #ddd
}
.article{
    margin-top: 10px;
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    z-index: 1;
}
.div__Up{
    height: 50%;
    width: 100%;
    background: #44a;
    display: flex;
}
.div_Left{
    width: 5%;
    background-image: url(../img/start.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 1px solid #fff;
}
.div_Center{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.div__Center-{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 20px;
    border: 1px solid #fff;
}
.carRed{
    width: 6vw;
    height: 100%;
    background: #e22;
    margin-left: 1%;
}
.carGreen{
    width: 6vw;
    height: 100%;
    background: #2e2;
    margin-left: 1%;
}
.div_Right{
    width: 5%;
    background-image: url(../img/finish.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 1px solid #fff;
}
.div__Down{
    height: 50%;
    width: 100%;
    border: 1px solid #fff;
    display: flex;
}
.btn_carRed{
    margin: auto;
    height: 70%;
    width: 90%;
    background: #e22;
    outline: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 5vw;
    cursor: pointer;
}

@keyframes moveToGreen{
    0%{
        margin-left: 1%;
    }
    100%{
        margin-left: 96%;
    }
}

/*Style Register*/
.register{
    position: absolute;
    margin-left: 2%;
    width: 95%;
    height: 70vh;
    padding: 5% 10%;
    box-sizing: border-box;
    background:  #22ea;
    display: none;
}
.form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.input{
    height: 100%;
    flex-grow: 1;
    text-align: center;
    font-size: 2.5vw;
    outline: none;
    border: 2px solid #444;
}
.btn_Register{
    cursor: pointer;
    background: #2e2;
}
.btn_TryAgain{
    cursor: pointer;
    background: #e22;
}